html,
body {
    padding: 0;
    margin: 0;
}

form {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas:
     "main sidebar";
    background-color: aliceblue;
    filter: opacity(99%);
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: 16% 12% 6% 12%;
}

h1,
h2,
h3,
label {
    font-family: 'Nunito', sans-serif;
}

h1 {
    margin-bottom: 6%;
}

.required {
    display: flex;
}

.star {
    position: relative;
    bottom: 12px;
    left: 6px;
}

input,
textarea {
    height: 54px;
    padding-right: 9px;
    padding-left: 9px;
    margin-bottom: 6%;
    background-color: #E2E5ED;
    border: solid 0.6px #E2E5ED;
    border-radius: 6px;
    color: #2e2e2e;
}

input:hover,
textarea:hover,
select:hover {
    border: solid 0.6px #808080;
}

input:focus,
textarea:focus,
select:focus {
    outline: solid 0.6px #2e2e2e;
}

.email-password {
    display: flex;
    justify-content: space-between;
}

.email,
.password {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.age {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.range,
.equipment {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.circle,
.square {
    height: 16px;
    width: 16px;
    padding: 0 0;
    margin-right: 22px;
    margin-bottom: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #E2E5ED;
    border-radius: 16px;
}

.circle:hover,
.square:hover,
select:hover {
    cursor: pointer;
}

input[class="circle"]:checked {
    background: url(i/circle.png) 50% 49% / 69% no-repeat;
    background-color: #E2E5ED;
}

label {
    font-weight: bold;
}

.about {
    margin-top: 6%;
}

textarea {
    height: 108px;
    padding-top: 6px;
}

select {
    height: 54px;
    padding-left: 9px;
    margin-bottom: 6%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(i/arrow.png) 98% 53% / 26px no-repeat;
    background-color: #E2E5ED;
    border: solid 0.6px #E2E5ED;
    border-radius: 6px;
    color: #7f7f7f;
}

.square {
    border-radius: 0;
}

input[class="square"]:checked {
    background: url(i/square.png) 52% 48% / 82% no-repeat;
    background-color: #E2E5ED;
}

.submit {
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
    margin-bottom: 13%;
}

.reset-btn,
.submit-btn {
    height: 54px;
    width: 48%;
    border-radius: 6px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.reset-btn {
    background-color: #FFFFFF;
    border: solid 1px;
}

.reset-btn:hover {
    background-color: #ebeef6;
    cursor: pointer;
}

.submit-btn {
    background-color: #149770;
    border: none;
    color: #FFFFFF;
}

.submit-btn:hover {
    background-color: #107657;
    cursor: pointer;
}

aside {
    grid-area: sidebar;
    background: url(i/ski.png);
    background-position: 90% 50%;
    background-size: cover;
    animation: ski 77s linear;
    animation-iteration-count: infinite;
}

@keyframes ski {
    0% {background-position: 100% 50%;}
    50% {background-position: 0% 50%;}
    100% {background-position: 100% 50%;}
}

.banner {
    color: #FFFFFF;
    text-shadow: 0 2px 2px #677685;
    font-size: 39px;
    margin: 40% 16%;
}

@media (max-width: 769px) {
    .email-password {
        flex-direction: column;
    }

    .email,
    .password {
        width: auto;
    }
    
    .banner {
        display: none;
    }
}

@media (max-width: 369px) {
    .star {
        display: none;
    }
}